.nav-bar {
    margin-bottom: 5%;
    display: flex;
    margin-left: 20%;
    justify-content: center;
    /* background-color: white; */
    border-radius: 20px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.169);
    margin-right: 20%;
    padding: 0.5%;
    /* z-index:2; */
    position: sticky;
}
.nav-bar ul{
    list-style-type: none;
    display: flex;
    text-align: center;
    color: white;
    justify-content: center;
}
.nav-bar ul li{
    padding: 5px 30px;
    font-weight: 700;
}
ul.menu{
    padding: 0px;
    color: whitesmoke;
}
.menu li {
    color: whitesmoke;
  }
  
.menu li a {
    color: inherit; 
    text-decoration: none; 
}
.menu li:hover{
    font-size: 900;
    color: rgb(210, 210, 210);
}