
.mySwiper {
    width: 80%;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    position: relative;
  }
  
  /* Styling for each slide */
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
     transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  /* Image styling */
  .swiper-slide img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Pagination styling */
  .swiper-pagination {
    bottom: 10px !important; /* Position the pagination bullets */
  }
  
  .swiper-pagination-bullet {
    background-color: #fff !important;
    opacity: 0.7 !important;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #007aff !important; /* Change the active bullet color */
    opacity: 1 !important;
  }
  
  /* Additional effects */
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right,
  .swiper-slide-shadow-bottom,
  .swiper-slide-shadow-top {
    opacity: 0.3 !important;
  }
  