body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#web-name{
  font-family: "Cedarville Cursive", cursive;
  font-size: 6.5rem;
  font-weight: 550;
}
#tag-line{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
} 

@media (max-width:930px) {
  #web-name{
    font-size: 6rem;
  }
}

@media(max-width:800px){
  #web-name{
    font-size: 3.8rem;
  }
}
@media(max-width:650px){
  #web-name{
    font-size: 2.5rem;
  }
}
@media(max-width:450px){
  #web-name{
    font-size: 1.5rem;
  }
}