*{
    margin: 0;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.728);
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(95, 158, 160, 0.475);
    border: 0.5rem solid transparent;
    background-clip:content-box;
    border-radius: 1rem;
    background-clip: content-box;
    
}

/* sign page */
h2{
    padding: 18px 5px;
}
p{
    padding: 15px 10px;
}
.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(88, 88, 242)
}
.signup-form {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 21px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 50%;
}
.signup-form button{
    background-color: rgb(89, 186, 247);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;

    font-size: 16px;
}
.sign-form button:hover{
    background-color: rgb(89, 186, 247);
}
form placeholder{
    color: black;
}
form input{
    background-color: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    border: none;
    padding: 10px;
    margin: 15px 10px;
}

/* login page */
h2{
    padding: 18px 5px;
}
p{
    padding: 15px 10px;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(88, 88, 242)
}
.login-form {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 21px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 50%;
}
.login-form button{
    background-color: rgb(89, 186, 247);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;

    font-size: 16px;
}
.login-form button:hover{
    background-color: rgb(89, 186, 247);
}
form placeholder{
    color: black;
}
form input{
    background-color: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    border: none;
    padding: 10px;
    margin: 15px 10px;
}

/* home page */
.main-body{
    background-color: rgb(46, 46, 46); 
    width: 100%;
    height: 100%;
    position: relative; 
    /* overflow: hidden; */
    /* padding: 50px; */
}
.inner-box1{
    background-image: url('../src/assest/homepage.jpg');
    position: relative;
    background-color: rgb(46, 46, 46);
    background-size: cover;
    height: 100%;
    padding: 50px;
}
.blured-box{
    background: rgba(255, 255, 255, 0.614);
    padding: 20px;
    border-radius: 10px;
    height: auto;
    width: 70rem;
}
.nav-bar{
    padding-bottom: 5%;
    display: flex;
    padding-left: 50px;
    justify-content: flex-end;
}
.nav-bar ul{
    list-style-type: none;
    display: flex;
    text-align: end;
    justify-content: flex-end;
}
.nav-bar ul li{
    padding: 5px 30px;
    font-weight: 700;
}

.main-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-main{
    line-height: 1.2;
}
.left-main h1{
    font-size: 28px;
}

.click-me{
    margin: 25px 10px 25px 10px;
    padding: 20px;
}

.click-me button{
    padding: 15px 56px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.second-sec{
    /* background-color: pink; */
    margin-top: 10%;
}
.second-sec h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: "Dancing Script", cursive;
    padding: 2% 10%;

}

.fourth-sec h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: "Dancing Script", cursive;
    padding: 5% 10%;
}

.third img{
    width: 50%;
    height: 65%;
}
/* starting the css for ContactUs page */
.cont-main-box{
    background-color: rgba(52, 86, 86);
    padding: 50px;
   width:72rem;
}
.inner-blurred-contactus-box{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}
.box2-side{
    border-radius: 10px;
    font-family: monospace;
    padding-left: 35px;
    margin-right: 15px;
}
#cont-box2-heading1{
    font-size: 5.1rem;
}
#cont-box2-heading2{
    font-size: 1.8rem;
    font-weight: 500;
}
.box1-side{
    width: 68rem;
    height: auto;
    border-radius: 10px;
    margin-bottom: 50px;
}
.box1-side-form{
    font-family:monospace;
}

.cont-box2-details {
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px 24px;
    margin-right: 7px;
}

.cont-logo-detail{
    line-height: 2;
}
.cont-logo{
    line-height: 2.1;
    padding-right: 10px;
}
.cont-logo svg{
    width: 1rem;
    height: 1rem;
}

.cont-box1-heading h1{
    font-size: 5rem;
    padding: 0px 35px 10px;

}
.contactus{
    padding: 5px 20px;
    margin: 1% 5%;
}
.contactus label{
    font-size: 1.5rem;
    
    
}
.contactus input,placeholder{
    border-bottom: 1px solid black;
    width: 60%;
    outline:none;
}
.contactus placeholder{
    width: 50px;
}
.cont-form{
    width: 80%;
}
.from-left{
    width: 50%;
}


.from-right{
    margin-top: 30px;
    padding: 10px 10px;
}
.form-btn{
    text-align: center;
}
.form-btn button{
    padding: 0.5rem 20rem;
    font-family:monospace;
    border-style: none;
    font-size: 1.5rem;
}
.cont-lbl3{
    padding: 20px 5px;
    display: flex;
}
.cont-lbl3 label{
    width: 30rem;
}

.cont-lbl3 input{
    width: 40%;
}
.cont-lbl7{
    padding: 20px 5px;
}


/* third section of the home page */
.third-sec{
    margin-top: 10%;
    width: 100%;
    padding-bottom: 5%;
}
.text-box{
    width: 100%;
    padding: 1%;
}
.third-sec h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: "Dancing Script", cursive;
}
.fourth-detail {
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box; 
    margin: 0 auto;
    text-align: center; 
}


/* birthday page */
.b-details{
    padding: 1% 5%;
}
.b-heading {
    position: relative;
    width: 100%;
    height: 3%;
    text-align: center;
}
.b-heading h1 {
    font-size: 3rem;
    font-family: "Dancing Script", cursive;
    width: 100%;
    height: 3%;
    text-align: center;
    padding-bottom: 5%; 
}


.b-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2%;
    gap: 2%;
    background-color: rgba(255, 192, 203, 0.651);
    padding-bottom: 5%;
  }
  
 
.birthday-cont h1{
    font-size: 4rem;
}

.b-img img{
    width: 70%;
    height: 90%;
    border: 10px solid white;
    margin-left: 15%;
    box-shadow: rgba(0, 0, 0, 0.457);
}
.birthday-cont{
    width: 100%;
    height: 30%;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    line-height: 2;
}

/*CSS for the service section of Birthday page */
.food-details{
    width: 100%;
    height: 100%;
    padding-top:5%;
    padding-bottom: 5%;
}
.food-details h1{
    text-align: center;
    padding: 2% 8%;
    font-size: 3rem;
    font-family: "Dancing Script", cursive;
}
.food{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    height: 50vh;
    background-color: white;
    border-radius: 20px;
    padding-inline: 10px;
}
.food h4{
    text-align: center;
}
.food .one{
    font-weight: 300;
}
.food-img:hover{
    background-color: rgba(0, 0, 0, 0.231);
    border-radius: 20px;
 
    
}
.food-img1:hover{
    background-color: rgba(0, 0, 0, 0.231);
    border-radius: 20px;
}
.food-img3:hover{
    background-color: rgba(0, 0, 0, 0.231);
    border-radius: 20px;
}
.food img{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    height: 100%;
    padding: 3%;
    object-fit: contain;
    border-radius: 20px;
}
.food-img img{
    height: auto;
    object-fit: cover; 
    max-width: 300px; 
    max-height: 300px;
} 
.food-img3 img{
    height: auto;
  object-fit: cover; 
  max-width: 300px; 
  max-height: 300px;
}
.food-img1 img{
    height: auto; 
    max-width: 300px; 
    max-height: 300px;
    object-fit: cover; 
}
.food-img3{
   
    height: auto;
    overflow: hidden;
}



.services{
    height: 100%;
    margin: 1% 0%;
    background-color: rgba(0, 0, 0, 0.425);
    border-style: dashed;
    border-color: black;
    color: white;
}
.services svg{
    color: white;
}
.services h1{
    padding: 2% 5%;
}
.service h3{
    font-weight: 400;
    padding-left: 3%;
}

.services:hover{
    background-color: rgba(0, 0, 0, 0.356);
}

.chef{
    padding: 1% 5%;
    display: flex;
    align-items: center;  
      
}

.cheffood{
    padding: 1% 5%;
    display:flex;
    align-items: center;    
}
.chefclean{
    padding: 1% 5%;
    display: flex;
    align-items: center;        
}







/* media queries */

@media only screen and (max-width: 1220px) {
    .cont-main-box{
        width: 70rem;
    }
    .blured-box{
        width: auto;
    }
    .nav-bar {
        justify-content: flex-end;
        display: flex;
    }
    .nav-bar ul li {
        padding: 5px 20px;
    }
    .contactus{
        width: 55rem;

    }
    .box1-side-form{
        width: 65rem;
    }
    
}
@media only screen and (max-width:940px){
    .cont-main-box{
        width: 66rem;
    }
    .contactus{
        width: 22rem;
    }
    .box1-side-form{
        width: 65rem;
    }
   
}
@media only screen and (max-width:700px){
    /* global style */
      .blured-box {
        padding: 10px;
      }
      .nav-bar {
        padding: 5px;
      }
     
      .menu li {
        margin-right: 0;
      }
     
      /* contact us page */
      .form-left {
        width: 100%;
      }
      .contactus {
        flex-direction: column;
        align-items: center;
      }
      .cont-lbl1, .cont-lbl2, .cont-lbl3, .cont-lbl5, .cont-lbl6, .cont-lbl7 {
        width: 100%;
        margin-bottom: 10px;
      }
      .cont-lbl1 label, .cont-lbl2 label, .cont-lbl3 label, .cont-lbl5 label, .cont-lbl6 label, .cont-lbl7 label {
        display: block;
        margin-bottom: 5px;
      }
      .cont-lbl1 input, .cont-lbl2 input, .cont-lbl5 input, .cont-lbl6 input, .cont-lbl7 input {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
      .cont-lbl3 label{
        flex-direction: column;
      }
      .cont-lbl3 label {
        margin-bottom: 10px;
      }
      .form-btn {
        width: 100%;
        text-align: center;
      }
      .form-btn button {
        width: 100%;
      }
    
} 

  @media only screen and (max-width: 425px) {
    
  }