#userProfile {
    padding: 20px;
    height: 70vh;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.153);
}
.userpro-h{
    margin: 0px 16px 25px;
    color: white;
}
.outter-box-userPro{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:5px;
}
.file-input-container {
    width: 15%;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.userimg {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #000000;
}

.u-detail {
    width: 70%;
    color: white;
    font-size: 1.4rem;
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.user-btn-logout{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.userBtn {
    position: relative;
    color: white;
    font-size: 16px;
    padding: 7px 38px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

.userBtn:hover {
    padding: 7px 38px;
    background-color: #000000;
}
